<!DOCTYPE html>
<html lang="en">
<head>
{%- block head %}
    <title></title>

    {% block metas %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock metas %}

    {% block styles %}
    <!-- Bootstrap -->
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.css')}}">
    {% endblock styles %}


{% endblock head %}
</head>
<body>

<div class="jumbotron text-center">
    <h1>QR-code generation!</h1>
</div>

    {% block content %}
    {% endblock %}

</body>
</html>